@font-face {
  font-family: "iconfont"; /* Project id 1645375 */
  src: url('./fonts/iconfont.woff2?t=1666078518162') format('woff2'),
       url('./fonts/iconfont.woff?t=1666078518162') format('woff'),
       url('./fonts/iconfont.ttf?t=1666078518162') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-2fengongsi:before {
  content: "\e62b";
}

.icon-lijitouzi:before {
  content: "\e625";
}

.icon-farenshenfenzheng:before {
  content: "\e620";
}

.icon-usertie:before {
  content: "\e65b";
}

.icon-touziren00:before {
  content: "\e6c8";
}

.icon-touziren001:before {
  content: "\e6fa";
}

.icon-hehuoren:before {
  content: "\e6e2";
}

.icon-gongsi:before {
  content: "\e679";
}

.icon-wx:before {
  content: "\e600";
}

.icon-user:before {
  content: "\e788";
}

.icon-drive:before {
  content: "\e608";
}

.icon-games:before {
  content: "\e618";
}

.icon-wzyh:before {
  content: "\e943";
}

.icon-gold:before {
  content: "\e616";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-pet:before {
  content: "\e612";
}

.icon-finance:before {
  content: "\e688";
}

.icon-baitiao:before {
  content: "\e61a";
}

.icon-jd:before {
  content: "\e651";
}

.icon-naicha:before {
  content: "\e609";
}

.icon-film:before {
  content: "\e60f";
}

.icon-weixin:before {
  content: "\e619";
}

.icon-geo:before {
  content: "\e611";
}

.icon-king:before {
  content: "\e63a";
}

.icon-html:before {
  content: "\e65a";
}

.icon-status:before {
  content: "\e63d";
}

.icon-comment:before {
  content: "\e891";
}

.icon-change:before {
  content: "\e7ff";
}

.icon-range:before {
  content: "\e655";
}

.icon-delay:before {
  content: "\e6c1";
}

.icon-complete:before {
  content: "\e633";
}

.icon-js:before {
  content: "\ec68";
}

.icon-trigger:before {
  content: "\e607";
}

.icon-exec:before {
  content: "\e64b";
}

.icon-request:before {
  content: "\e68d";
}

.icon-call:before {
  content: "\e8ec";
}

.icon-inject:before {
  content: "\e663";
}

.icon-join:before {
  content: "\e627";
}

.icon-response:before {
  content: "\e641";
}

.icon-template:before {
  content: "\e8bf";
}

.icon-sort:before {
  content: "\e766";
}

.icon-socketin:before {
  content: "\e72d";
}

.icon-function:before {
  content: "\e672";
}

.icon-switch:before {
  content: "\e67f";
}

.icon-link:before {
  content: "\e6c3";
}

.icon-catch:before {
  content: "\e66b";
}

.icon-json:before {
  content: "\ea42";
}

.icon-socket:before {
  content: "\e6e6";
}

.icon-out:before {
  content: "\e6e8";
}

.icon-filter:before {
  content: "\e69c";
}

.icon-css:before {
  content: "\e743";
}

.icon-debug:before {
  content: "\e606";
}
